<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="InternetBotSuite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="listeners.ListenerClass"/>
    </listeners>

    <test name="AutomationTests">

        <classes>

            <class name="com.krct.LoginPage"/>

            <class name="com.krct.AlertPage"/>

            <class name="com.krct.HoverTest"/>

            <class name="com.krct.FileUploadTest"/>

            <class name="com.krct.DynamicPage"/>

        </classes>

    </test>

</suite>